header{
    position: relative;
    height: 150px;
    background-color: #1e9ed6;
    background-image: url("../img/pattern.png");
}
#logo{
    height: 75px;
    position: absolute;
    bottom: 0;
}
.grey-text{
    color: grey;
    font-size: 14px;
}
#photo-sources{
    font-size: 12px;
}
#author{
    text-decoration: none;
    color: blue;
}
table{
    border-collapse: collapse;
}
thead{
    background-color: #1e9ed6;
    color: white;
}
#first-row, #third-row{
    background-color: #b1e5f2;
}
