header{
    position: relative;
    height: 150px;
    background-color: #1e9ed6;
    background-image: url("../img/pattern.png");
}
#logo{
    height: 75px;
    position: absolute;
    bottom: 0;
}
.grey-text{
    color: grey;
    font-size: 14px;
}
#photo-sources{
    font-size: 12px;
}
#author{
    text-decoration: none;
    color: #1e9ed6;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: #1e9ed6;
    color: white;
}
#first-row, #third-row{
    background-color: #b1e5f2;
}
.first-column, .second-column{
    width: 25%;
    
}
.third-column{
    width: 50%;
}
th{
    text-align: left;
}

