/* regole layour header */
header{
    position: relative;
    height: 150px;
    background-color: #1e9ed6;
    background-image: url("../img/pattern.png");
}
#logo{
    height: 75px;
    position: absolute;
    bottom: 0;
}

.grey-text{
    color: grey;
    font-size: 14px;
}
#photo-sources{
    font-size: 12px;
}
#author{
    text-decoration: none;
    color: #1e9ed6;
}
/* gestione bordi ed allineamento testo */
table{
    border-collapse: collapse;
}
th{
    text-align: left;
}
/* Colore tabella */
thead{
    background-color: #1e9ed6;
    color: white;
}
#first-row, #third-row{
    background-color: #b1e5f2;
}

/* Spacing colonne tabella */
.first-column, .second-column{
    width: 25%;  
}
.third-column{
    width: 50%;
}

/* Sezione articoli correlati */
#related-articles{
    color:grey
}
footer div{
    height: 300px;
    width: 300px;
}
#first-article{
    background-image: url("../img/monitor.jpg");
}
#second-article{
    background-image: url("../img/graph.jpg");
}
